// site styles

@import 'compass/css3';
@import '_vars';
@import '_jquery.nouislider';

/* This parent can be any width and height */
.hv-container,
.h-container {
  text-align: center;
}

/* The ghost, nudged to maintain perfect centering */
.hv-container,
.v-container {
    height: 100%;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.35em; /* Adjusts for spacing */
    }
}

/* The element to be centered, can
   also be of any width and height */
.hv-container,
.h-container,
.v-container {
    .content {
      display: inline-block;
      vertical-align: middle;
    }
}

html, body, #wrap-outer {
    height: 100%;
    background: #fff;
}

.noUi-handle {
    border-color: $grey-dark;

    &:before,
    &:after {
        background: $grey-dark;
    }
}

.noUi-target {
    border-color: $grey-dark;
}

body.loading {
    overflow: hidden;
    &:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: #fff url(http://labs.minutelabs.io/assets/images/loader/logo-loading2.gif) no-repeat center 40%;
    }

    &:after {
        content: 'loading...';
        position: fixed;
        z-index: 2;
        top: 50%;
        left: 50%;
        font-size: 3em;
        margin-left: -1.7em;
        margin-top: 2em;
        color: $deep-grey-dark;
    }
}

#story {
    section {
        position: relative;
        width: 100%;
        @extend .hv-container;
        font-size: 1.5em;
        line-height: 1.7;
        margin-bottom: 1em;

        .content {
            display: inline-block;
            vertical-align: middle;
            text-align: center;

            .btn-continue {
                position: absolute;
                bottom: 0em;
                right: 0em;
                display: inline-block;
                text-decoration: none;
                background: $deep-grey-dark;
                color: $grey-light;
                padding: 1em 2em;
                @include border-radius( 5px 0 0 );

                &:active {
                    background: $blue-dark;
                }
            }
        }
    }
}

#chart,
#guided-chart {
    position: relative;
    width: 100%;

    .xaxis,
    .yaxis {
        float: left;
    }

    .xaxis text {
        fill: $red-dark;
    }

    .yaxis text {
        fill: $deep-blue-dark;
    }

    .xaxis line,
    .yaxis line {
      stroke: $deep-grey-dark;
    }

    .xaxis .minor,
    .yaxis .minor {
      stroke-opacity: .5;
    }

    .xaxis path,
    .yaxis path {
      fill: none;
      stroke: $deep-grey-dark;
    }

    canvas {
        float: left;
        cursor: move;
        // @include box-shadow(inset 0 0 5px rgba(0, 0, 0, 0.6));
    }

    .controls {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        z-index: 2;
    }
}

.equation {

    font-size: 2em;
    line-height: 1;
    height: 4em;
    width: 100%;

    .main {
        position: relative;
        width: 14em;
        margin: auto;
        height: 2em;
        text-align: center;
        color: $deep-grey-light;

        span {
            vertical-align: middle;
        }
    }

    .box {
        max-width: 10ex;
    }

    .output,
    .x-input {
        color: rgba(0,0,0,0);
    }

    .box,
    .x-input {
        position: relative;
        display: inline-block;
        width: 5.6ex;
        white-space: nowrap;
        overflow: hidden;

        &.long {
            text-align: left;
            text-overflow: ellipsis;
        }
    }

    .output-wrap,
    .r-wrap {
        position: relative;
    }

    .output,
    .r {
        position: absolute;
        top: 0.11em;
        display: block;
        white-space: nowrap;
    }

    .r {
        right: 1ex;
        text-align: right;
        max-width: 10ex;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $red-dark;
    }

    .output {
        left: 0.2ex;
    }

    .sq-bracket {
        position: relative;
        bottom: 0.11em;
        font-size: 2em;
    }

    .c-bracket {
        position: relative;
        bottom: 0.1em;
    }

    .times {
        font-size: 0.75em;
    }

    .out {
        color: $deep-blue-dark;
    }

    .in {
        color: $deep-grey;
    }
}

#story section {
    .noUi-connect {
        background: $green-dark;
    }

    .slider-wrap {
        margin: 1em 0;
        span {
            margin: 0 2ex;
        }
    }
    .slider {
        position: relative;
        top: 0.03em;
        display: inline-block;
        width: 20em;
    }

    .eq-demo {
        margin: 3em 0 1em;
        .equation {
            height: 1.3em;
        }
        .equation .x-input {
            width: auto;
        }
    }
}


#story .generator-slide {
    .slider.r-slider {
        @include box-sizing(border-box);
        width: 90%;
        background: $red-dark;
    }
    .equation {
        margin-top: 1em;
        font-size: 1.8em;
    }
}

.chart-slide {
    .equation {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 800px) {
    .slide3 .equation {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 80%;
    }

    #story section .eq-demo {
        font-size: 0.6em;
    }
}
