/* line 5, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
html, body, #wrap-outer {
  height: 100%;
  background: #fff;
}

/* line 10, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#chart {
  width: 100%;
}
/* line 13, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#chart .yaxis {
  float: left;
}
/* line 18, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#chart .xaxis line,
#chart .yaxis line {
  stroke: #1a1a1a;
}
/* line 23, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#chart .xaxis .minor,
#chart .yaxis .minor {
  stroke-opacity: .5;
}
/* line 28, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#chart .xaxis path,
#chart .yaxis path {
  fill: none;
  stroke: #1a1a1a;
}
/* line 33, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#chart canvas {
  float: left;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
}

/* line 39, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#equation {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2em;
  line-height: 1;
  height: 4em;
  width: 100%;
}
/* line 49, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#equation .main {
  position: relative;
  width: 14em;
  margin: auto;
  height: 2em;
  text-align: center;
  color: #626262;
}
/* line 57, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#equation .main span {
  vertical-align: middle;
}
/* line 62, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#equation .box {
  color: #00258f;
  max-width: 10ex;
}
/* line 68, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#equation .output,
#equation .x-input {
  color: rgba(0, 0, 0, 0);
}
/* line 73, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#equation .box,
#equation .x-input {
  position: relative;
  display: inline-block;
  width: 5.6ex;
  white-space: nowrap;
  overflow: hidden;
}
/* line 80, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#equation .box.long,
#equation .x-input.long {
  text-align: left;
  text-overflow: ellipsis;
}
/* line 87, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#equation .output-wrap,
#equation .r-wrap {
  position: relative;
}
/* line 92, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#equation .output,
#equation .r {
  position: absolute;
  top: 0.11em;
  display: block;
  white-space: nowrap;
}
/* line 99, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#equation .r {
  right: 1ex;
  text-align: right;
  max-width: 10ex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 108, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#equation .output {
  left: 0.2ex;
}
/* line 112, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#equation .sq-bracket {
  position: relative;
  bottom: 0.11em;
  font-size: 2em;
}
/* line 118, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#equation .c-bracket {
  position: relative;
  bottom: 0.1em;
}
/* line 123, /Users/wellcaffeinated/Documents/github/minutelabs/Chaotic-Fractal/library/styles/site.scss */
#equation .times {
  font-size: 0.75em;
}
